@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  padding: 40px;
  background-color: #efefef;
  min-height: 100vh;
}
.logo {
  max-width: 40vh;
  width: 400px;
  margin: auto;
  display: block;
  margin-bottom: 70px;
}
.list-container {
  width: 80%;
  margin: auto;
}
.column {
  margin: 0 12px;
}
.column:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.box {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.box img {
  width: 200px;
  height: 200px;
}
.box.pokemon-card {
  margin: auto;
  width: 60%;
}
.divider {
  position: relative;
  display: flex;
  margin: 10px 0;
  width: 100%;
}
.divider::after,
.divider::before {
  content: "";
  display: block;
  flex: 1;
  height: 1px;
  background-color: #d9d9d9;
}
.pokemon-card {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.pokemon-card:hover {
  cursor: pointer;
}
.pokemon-card_header {
  position: relative;
}
.pokemon-card_id {
  color: #e9e8e7;
  font-size: 10em;
  font-weight: 500;
  margin: -40px;
}
.pokemon-card_header .pokemon-card_img {
  left: 50%;
  position: absolute;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pokemon-card_info {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.pokemon-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.pokemon-card_name {
  font-family: "Press Start 2P", cursive;
}
.pokemon-card:hover
  > .pokemon-card_info
  > .pokemon-content
  > .pokemon-card_name {
  transform: scale(1.2);
}
.pokemon-type.grass {
  background-color: #00d1b2 !important;
  color: #fff;
}
.pokemon-type.poison {
  background-color: #a040a0 !important;
  color: #fff;
}
.pokemon-type.bug {
  background-color: #9cb820 !important;
  color: #fff;
}
.pokemon-type.flying {
  background-color: #9096f0 !important;
  color: #fff;
}
.pokemon-type.dragon {
  background-color: #a040a0 !important;
  color: #fff;
}
.pokemon-type.psychic {
  background-color: #7038f8 !important;
  color: #fff;
}
.pokemon-type.electric {
  background-color: #c09643 !important;
  color: #fff;
}
.pokemon-type.ghost {
  background-color: #705898 !important;
  color: #fff;
}
.pokemon-type.ground {
  background-color: #e0b668 !important;
  color: #fff;
}
.pokemon-type.psychic {
  background-color: #eb2d77 !important;
  color: #fff;
}
.pokemon-type.water {
  background-color: #6890f0 !important;
  color: #fff;
}
.pokemon-type.ice {
  background-color: #98d8d8 !important;
  color: #fff;
}
.pokemon-type.fire {
  background-color: #f08030 !important;
  color: #fff;
}